{% extends 'donation/appBase.html' %}


{% block content %}
        <div class="content">
           <button class = "button create" style = "color: #0f0f0f" onclick="myCreation()"> Create </button>
            <button class="button Donor" onclick="document.location='/Donor'"> DONOR </button>
            <button class="button Worker" onclick="document.location='Worker'"> WORKER </button>
            <button class="button CampDetail" onclick="document.location='CampDetail'"> CAMP DETAIL </button>
        </div>
{% endblock %}


